{% extends 'home/base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
        <h3>Password Reset Complete</h3>
        <hr>
            <div class="col-sm-9 offset-sm-1 text-center">
                <iframe src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExZ2FoNzlteXJnNnMwd2diNXE4ZHRkZXdybHNkdWM0cHByanh4MzZkMiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ibolLe3mOqHE3PQTtk/giphy.gif" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}